@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidxs</h1>
</div>
@if (ViewBag.Mensaje != null)
{
    <div>
        <p> @ViewBag.Mensaje</p>
    </div>
}

<div class="centered-image">
    <img src="~/img/estac.jpeg" alt="Estacionamiento" />
</div>



