@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Estacionamiento 2 C Curso F</a>.</p>
</div>
<<div class="centered-image">
    <img src="~/img/estac.jpeg" alt="Estacionamiento" />
</div>