@model IEnumerable<_2023_2C_F_Estacionamiento.Models.Rol>

@{
    ViewData["Title"] = "ListarRoles";
}

<h1>Roles Existentes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
           
        </tr>
}
    </tbody>
</table>
