
.menu-karina  {
    background: url(../img/Estacionamiento.png) no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    margin: 8px;
}


.boton-3d {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color del texto */
    border: 1px solid #ccc; /* Borde con color claro */
    padding: 10px 20px;
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra 3D */
}

.boton-3d:hover {
    background-color: #ccc; /* Cambio de color al pasar el cursor */
}



.principal {
    align-content: center;
    text-align: center;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: ajusta la altura del contenedor según tus necesidades */
}


/* Provide sufficient contrast against white background */
a {
    color: #cbbe56;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #0094ff, #1861ac); /* Cambia los colores según tu preferencia */
}
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}